.env
.env.*
!.env.example


node_modules/


dist/
build/
.vite/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


coverage/
.nyc_output/


.cache/
.parcel-cache/
.eslintcache
.stylelintcache


.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.iml


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini


*.tmp
*.temp
*.swp
*.swo
*.bak


.vercel/
.netlify/

*.tsbuildinfo


*.tgz
.npm/